In [28]:
import pandas as pd

In [29]:

df = pd.read_csv("imdb_top_1000.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [31]:
# Remove the wrong year number which contains alphabetic characters and convert year to numeric
df = df[~df['Released_Year'].str.contains('^[a-zA-Z]')]
df['Released_Year']=df['Released_Year'].astype(int)

In [32]:
# Remove ' min' string from runtime and convert runtime to numeric
df['Runtime'] = df['Runtime'].str.replace(" min","")
df['Runtime']=df['Runtime'].astype(int)

In [33]:
# Remove ',' string from gross and convert it to numeric
df['Gross'] = df['Gross'].str.replace(",","")
df['Gross']=df['Gross'].astype(float)

In [34]:
df['Gross'].sum()

56363040043.0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    999 non-null    object
 1   Series_Title   999 non-null    object
 2   Released_Year  999 non-null    int32
 3   Certificate    898 non-null    object
 4   Runtime        999 non-null    int32
 5   Genre          999 non-null    object
 6   IMDB_Rating    999 non-null    float64
 7   Overview       999 non-null    object
 8   Meta_score     842 non-null    float64
 9   Director       999 non-null    object
 10  Star1          999 non-null    object
 11  Star2          999 non-null    object
 12  Star3          999 non-null    object
 13  Star4          999 non-null    object
 14  No_of_Votes    999 non-null    int64
 15  Gross          830 non-null    float64
dtypes: float64(3), int32(2), int64(1), object(10)
memory usage: 124.9+ KB

In [36]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

In [37]:
# Split the genre to list of genres
df['Genre'] = df['Genre'].str.split(',')
# Count number of genres for each movie
df['No_of_Genres'] = df['Genre'].str.len()
df['No_of_Genres'].describe()

count    999.000000
mean       2.540541
std        0.677515
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: No_of_Genres, dtype: float64

In [38]:
# Extract the genres
df['Genre_1'] = df['Genre'].str[0]
df['Genre_2'] = df['Genre'].str[1]
df['Genre_3'] = df['Genre'].str[2]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    999 non-null    object
 1   Series_Title   999 non-null    object
 2   Released_Year  999 non-null    int32
 3   Certificate    898 non-null    object
 4   Runtime        999 non-null    int32
 5   Genre          999 non-null    object
 6   IMDB_Rating    999 non-null    float64
 7   Overview       999 non-null    object
 8   Meta_score     842 non-null    float64
 9   Director       999 non-null    object
 10  Star1          999 non-null    object
 11  Star2          999 non-null    object
 12  Star3          999 non-null    object
 13  Star4          999 non-null    object
 14  No_of_Votes    999 non-null    int64
 15  Gross          830 non-null    float64
 16  No_of_Genres   999 non-null    int64
 17  Genre_1        999 non-null    object
 18  Genre_2        894 non-null    object
 19  Genre_3        645 non-null    object
dtypes: float64(3), int32(2), int64(2), object(13)
memory usage: 156.1+ KB

In [40]:
list(df.columns)

['Poster_Link',
 'Series_Title',
 'Released_Year',
 'Certificate',
 'Runtime',
 'Genre',
 'IMDB_Rating',
 'Overview',
 'Meta_score',
 'Director',
 'Star1',
 'Star2',
 'Star3',
 'Star4',
 'No_of_Votes',
 'Gross',
 'No_of_Genres',
 'Genre_1',
 'Genre_2',
 'Genre_3']

In [41]:
df.columns = ['Poster', 'Title',
 'Year',
 'Certificate',
 'Runtime',
 'Genre',
 'IMDB',
 'Overview',
 'MetaScore',
 'Director',
 'Star1',
 'Star2',
 'Star3',
 'Star4',
 'Votes',
 'Gross',
 'Genres',
 'Genre1',
 'Genre2',
 'Genre3']

In [42]:
df.to_csv('imdb_top_1000_cleaned.csv', index=False)